@import "@fontsource/open-sans/400.css"; // Weight 500.
@import "@fontsource/open-sans/700.css"; // Italic variant.
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

label {
    margin-right: 1rem;
    color: $white;
    font-size: $font-filter;
}

select {
    font-size: $font-filter;
}